footer#footer.footer
  .footer__contact-info
    .footer__contact-info__column1
      h2.footer__contact-info__heading Conoce m&aacute;s
      p
        a(href='/sobre-mi' aria-label='Sobre mí') Sobre m&iacute;
      p
        a(href='/portafolio' aria-label='Portafolio de fotografía') Portafolio
      p
        a(href='/arte' aria-label='Explora mi arte') Arte
    .footer__contact-info__column2
      h2.footer__contact-info__heading Cont&aacute;ctame
      p
        | Tel&eacute;fono: 
        a(href='tel:+573162707671' aria-label='Llama a Jorge Mario Roca') (+57) 3162707671
      p
        | Email: 
        a(href='mailto:jorgemarioroca@gmail.com' aria-label='Envía un email a Jorge Mario Roca') jorgemarioroca@gmail.com
      p Santa Marta, Colombia
    .footer__contact-info__column3
      h2.footer__contact-info__heading S&iacute;gueme en
      p
        a(href='https://instagram.com' target='_blank' rel='nofollow noreferrer' aria-label='Sígueme en Instagram') Instagram
      p
        a(href='https://tiktok.com' target='_blank' rel='nofollow noreferrer' aria-label='Sígueme en TikTok') TikTok
      p
        a(href='https://facebook.com' target='_blank' rel='nofollow noreferrer' aria-label='Sígueme en Facebook') Facebook
  .footer__bottom
    p
      | Jorge Mario Roca. Fot&oacute;grafo de alimentos. Santa Marta, Colombia | &copy; 2024 jorgemarioroca.com - Todos los derechos reservados | Fotograf&iacute;a de alimentos | Fotograf&iacute;a comercial