input.main-nav-toggle(type="checkbox" id="main-nav-toggle")
header#header.header
  h1.header__logo Jorge Mario Roca
  nav.navigation(role='navigation')
    ul
      li.navigation__item
        a.navigation__item__link(href='/' aria-label='Inicio') Inicio
      li.navigation__item
        a.navigation__item__link(href='/diseno' aria-label='Fotografía') Fotograf&iacute;a
      li.navigation__item
        a.navigation__item__link(href='/comercial' aria-label='Comercial') Comercial
      li.navigation__item
        a.navigation__item__link(href='/servicios' aria-label='Servicios') Servicios
      li.navigation__item
        a.navigation__item__link(href='/contacto' aria-label='Contacto') Contacto