head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='styles.css')
  link(rel='icon' href='favicon.ico' type='image/x-icon')
  link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
  meta(name='description' content='Fotografía de alimentos, diseño y estilo de vida. Fotografía de alimentos en Santa Marta, Colombia.')
  meta(name='keywords' content='Fotografía de alimentos, Fotografía de alimentos en Santa Marta, Fotografía de alimentos en Colombia, Fotografía de alimentos en Bogotá, Fotografía de alimentos en Medellín, Fotografía de alimentos en Cartagena, Fotografía de alimentos en Barranquilla, Fotografía de alimentos en Cali, Fotografía de alimentos en Bucaramanga, Fotografía de alimentos en Pereira, Fotografía de alimentos en Armenia, Fotografía de alimentos en Manizales, Fotografía de alimentos en Villavicencio, Fotografía de alimentos en Cúcuta, Fotografía de alimentos en Montería, Fotografía de alimentos en Pasto, Fotografía de alimentos en Popayán, Fotografía de alimentos en Valledupar')
  meta(name='author' content='Jorge Mario Roca')
  meta(name='robots' content='index, follow')
  meta(name='revisit-after' content='1 month')
  meta(name='language' content='Spanish')
  meta(name='distribution' content='Global')
  meta(name='rating' content='General')
  meta(name='googlebot' content='index, follow')
  meta(name='bingbot' content='index, follow')
  meta(name='yahoobot' content='index, follow')
  meta(name='msnbot' content='index, follow')
  meta(name='alexabot' content='index, follow')
  title Jorge Mario Roca