doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='styles.css')
  link(rel='icon' href='favicon.ico' type='image/x-icon')
  link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
  meta(name='description' content='Fotografía de alimentos, diseño y estilo de vida. Fotografía de alimentos en Santa Marta, Colombia.')
  meta(name='keywords' content='Fotografía de alimentos, Fotografía de alimentos en Santa Marta, Fotografía de alimentos en Colombia, Fotografía de alimentos en Bogotá, Fotografía de alimentos en Medellín, Fotografía de alimentos en Cartagena, Fotografía de alimentos en Barranquilla, Fotografía de alimentos en Cali, Fotografía de alimentos en Bucaramanga, Fotografía de alimentos en Pereira, Fotografía de alimentos en Armenia, Fotografía de alimentos en Manizales, Fotografía de alimentos en Villavicencio, Fotografía de alimentos en Cúcuta, Fotografía de alimentos en Montería, Fotografía de alimentos en Pasto, Fotografía de alimentos en Popayán, Fotografía de alimentos en Valledupar')
  meta(name='author' content='Jorge Mario Roca')
  meta(name='robots' content='index, follow')
  meta(name='revisit-after' content='1 month')
  meta(name='language' content='Spanish')
  meta(name='distribution' content='Global')
  meta(name='rating' content='General')
  meta(name='googlebot' content='index, follow')
  meta(name='bingbot' content='index, follow')
  meta(name='yahoobot' content='index, follow')
  meta(name='msnbot' content='index, follow')
  meta(name='alexabot' content='index, follow')
  title Jorge Mario Roca
header#header.header
  h1.header__logo Jorge Mario Roca
  nav.navigation(role='navigation')
    ul
      li.navigation__item
        a.navigation__item__link(href='/' aria-label='Inicio') Inicio
      li.navigation__item
        a.navigation__item__link(href='/diseno' aria-label='Fotografía') Fotograf&iacute;a
      li.navigation__item
        a.navigation__item__link(href='/comercial' aria-label='Comercial') Comercial
      li.navigation__item
        a.navigation__item__link(href='/servicios' aria-label='Servicios') Servicios
      li.navigation__item
        a.navigation__item__link(href='/contacto' aria-label='Contacto') Contacto
main#main.main
  section#hero.hero
    h2.hero__heading &iexcl;Fotograf&iacute;a de alimentos
    p Fotograf&iacute;a especializada en alimentos, dise&ntilde;o y estilo de vida.
    a.btn(href='/contacto' aria-label='Contáctame para servicios de fotografía de alimentos') Cont&aacute;ctame
  section.home-section.porfolio
    h2.home-section__heading Portafolio de fotograf&iacute;a de alimentos
    p.home-section__paragraph
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate obcaecati id minima iure porro. Explicabo ut aperiam veritatis provident sequi.
  section.home-section.gallery-grid(aria-labelledby='portfolio-heading')
    .gallery__item
      img(src='https://via.placeholder.com/300' alt='Deliciosa comida servida en plato blanco')
      .gallery__item__overlay
        h3.gallery__item__title Fotograf&iacute;a de alimentos
        a.btn(href='/fotografia-de-alimentos' aria-label='Ver más sobre fotografía de alimentos') Ver m&aacute;s
      .gallery__item
        img(src='https://via.placeholder.com/300' alt='Deliciosa comida servida en plato blanco')
        .gallery__item__overlay
          h3.gallery__item__title Fotograf&iacute;a de alimentos
          a.btn(href='/fotografia-de-alimentos' aria-label='Ver más sobre fotografía de alimentos') Ver m&aacute;s
      .gallery__item
        img(src='https://via.placeholder.com/300' alt='Deliciosa comida servida en plato blanco')
        .gallery__item__overlay
          h3.gallery__item__title Fotograf&iacute;a de alimentos
          a.btn(href='/fotografia-de-alimentos' aria-label='Ver más sobre fotografía de alimentos') Ver m&aacute;s
      .gallery__item
        img(src='https://via.placeholder.com/300' alt='Deliciosa comida servida en plato blanco')
        .gallery__item__overlay
          h3.gallery__item__title Fotograf&iacute;a de alimentos
          a.btn(href='/fotografia-de-alimentos' aria-label='Ver más sobre fotografía de alimentos') Ver m&aacute;s
      .gallery__item
        img(src='https://via.placeholder.com/300' alt='Deliciosa comida servida en plato blanco')
        .gallery__item__overlay
          h3.gallery__item__title Fotograf&iacute;a de alimentos
          a.btn(href='/fotografia-de-alimentos' aria-label='Ver más sobre fotografía de alimentos') Ver m&aacute;s
      section.home-section.porfolio
        h2.home-section__heading Portafolio de fotograf&iacute;a de comercial
        p.home-section__paragraph
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate obcaecati id minima iure porro. Explicabo ut aperiam veritatis provident sequi.
      section.home-section.gallery-grid(aria-labelledby='portfolio-heading')
        d.gallery__item
          img(src='https://via.placeholder.com/300' alt='Bellísima fotografía de comercial')
          .gallery__item__overlay
            h3.gallery__item__title Fotograf&iacute;a de comercial
            a.btn(href='/fotografia-de-comercial' aria-label='Ver más sobre fotografía comercial') Ver m&aacute;s
          .gallery__item
            img(src='https://via.placeholder.com/300' alt='Bellísima fotografía de comercial')
            .gallery__item__overlay
              h3.gallery__item__title Fotograf&iacute;a de comercial
              a.btn(href='/fotografia-de-comercial' aria-label='Ver más sobre fotografía comercial') Ver m&aacute;s
          .gallery__item
            img(src='https://via.placeholder.com/300' alt='Bellísima fotografía de comercial')
            .gallery__item__overlay
              h3.gallery__item__title Fotograf&iacute;a de comercial
              a.btn(href='/fotografia-de-comercial' aria-label='Ver más sobre fotografía comercial') Ver m&aacute;s
          .gallery__item
            img(src='https://via.placeholder.com/300' alt='Bellísima fotografía de comercial')
            .gallery__item__overlay
              h3.gallery__item__title Fotograf&iacute;a de comercial
              a.btn(href='/fotografia-de-comercial' aria-label='Ver más sobre fotografía comercial') Ver m&aacute;s
          .gallery__item
            img(src='https://via.placeholder.com/300' alt='Bellísima fotografía de comercial')
            .gallery__item__overlay
              h3.gallery__item__title Fotograf&iacute;a de comercial
              a.btn(href='/fotografia-de-comercial' aria-label='Ver más sobre fotografía comercial') Ver m&aacute;s
      section.home-section.section-columns
        .home-section__column-left
          h2.home-section__heading Filosof&iacute;a de trabajo
          ul
            li
              span.list-items Calidad en resultados:
              |  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, facere?
            li
              span.list-items Tiempo:
              |  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, eum?
            li
              span.list-items Acompa&ntilde;amiento:
              |  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, debitis?
            li
              span.list-items Fotograf&iacute;as reales:
              |  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, voluptate.
            li
              span.list-items Clientes libres de preocupaciones:
              |  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, placeat!
          button.home-section__button
            a.btn(href='/servicios') Servicios
        .home-section__column-right
          h2.home-section__heading &iquest;Por qu&eacute; elegirme?
          ul
            li
              span.list-items Experiencia:
              |  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, facere?
            li
              span.list-items Entendemos tus preocupaciones:
              |  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, eum?
            li
              span.list-items Atenci&oacute;n al detalle:
              |  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, debitis?
            li
              span.list-items Creatividad:
              |  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, voluptate.
            li
              span.list-items Pasi&oacute;n y entrega:
              |  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, placeat!
          button.home-section__button
            a.btn(href='/contacto') Cont&aacute;ctame
      section.home-section.banner(aria-labelledby='contact-heading')
        h2.banner__heading &iexcl;Cont&aacute;ctame para m&aacute;s informaci&oacute;n!
        a.btn(href='/contacto' aria-label='Ponte en contacto para discutir tus necesidades de fotografía') Cont&aacute;ctame
footer#footer.footer
  .footer__contact-info
    .footer__contact-info__column1
      h2.footer__contact-info__heading Conoce m&aacute;s
      p
        a(href='/sobre-mi' aria-label='Sobre mí') Sobre m&iacute;
      p
        a(href='/portafolio' aria-label='Portafolio de fotografía') Portafolio
      p
        a(href='/arte' aria-label='Explora mi arte') Arte
    .footer__contact-info__column2
      h2.footer__contact-info__heading Cont&aacute;ctame
      p
        | Tel&eacute;fono: 
        a(href='tel:+573162707671' aria-label='Llama a Jorge Mario Roca') (+57) 3162707671
      p
        | Email: 
        a(href='mailto:jorgemarioroca@gmail.com' aria-label='Envía un email a Jorge Mario Roca') jorgemarioroca@gmail.com
      p Santa Marta, Colombia
    .footer__contact-info__column3
      h2.footer__contact-info__heading S&iacute;gueme en
      p
        a(href='https://instagram.com' target='_blank' rel='nofollow noreferrer' aria-label='Sígueme en Instagram') Instagram
      p
        a(href='https://tiktok.com' target='_blank' rel='nofollow noreferrer' aria-label='Sígueme en TikTok') TikTok
      p
        a(href='https://facebook.com' target='_blank' rel='nofollow noreferrer' aria-label='Sígueme en Facebook') Facebook
  .footer__bottom
    p
      | Jorge Mario Roca. Fot&oacute;grafo de alimentos. Santa Marta, Colombia | &copy; 2024 jorgemarioroca.com - Todos los derechos reservados | Fotograf&iacute;a de alimentos | Fotograf&iacute;a comercial
